@import url("http://fonts.googleapis.com/css?family=Lato:300&subset=latin,latin-ext");

body, html {
    font-family: 'Lato', sans-serif;
    color: #444;
    background-image: url('../img/flower_background.png');
    background-size: cover;
    height: 100%;
}

#avatar {
    height: 175px;
    width: 175px;
    border-radius: 100px;
    border: 7px solid #ccc;
    overflow: hidden;
    margin: 0 auto;
}

#main-content {
    height: 300px;
    max-width: 70%;
    max-height: 400px;
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
}

#main-panel {
    background-color: #ff99cc;
    min-height: 500px;
    height: 100%;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
}

#main-text {
    height: 100%;
}

#main-text > .well {
    height: 100%;
}

#picture {
    border: 1px solid #666;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
}

.inner-push {
    height: 100px;
}

.push {
    height: 50%;
}

.wrapper {
    height: 100%;
}
