@import url("http://fonts.googleapis.com/css?family=Lato:300&subset=latin,latin-ext");

@media screen and (max-width: 1000px){
    body {
        background-color: #ff99cc;
        background-size: cover !important;
        background-position: center 0px;
        animation-iteration-count: 0;
    }
    @keyFrames slowZoom {
        0% {
            background-size: cover;
        }
        100% {
            background-size: cover;
        }
    }

}

body, html {
    font-family: 'Lato', sans-serif;
    color: #444;
    background-image: url('../img/flower_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    animation-name: slowZoom;
    animation-iteration-count: 1;
    animation-timing-function: zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;

    -webkit-animation-name: slowZoom;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: zoom;
    -webkit-animation-duration: 10s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: slowZoom;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: zoom;
    -moz-animation-duration: 10s;
    -moz-animation-fill-mode: forwards;
}
@keyFrames slowZoom {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 105%;
    }
}

#avatar {
    height: 175px;
    width: 175px;
    border-radius: 100px;
    border: 7px solid #ccc;
    overflow: hidden;
    margin: 0 auto;
}

#email {
    color: #333;
}

#main-panel {
    background-color: #ff99cc;
    height: 100%;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
}

#main-text {
    background-color: #fff;
    border-radius: 40px;
    margin: 10px 10px 20px;
    opacity: 0.8;
    padding: 3px 5px 10px;
}

#picture {
    border: 1px solid #666;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
}

.inner-push {
    height: 100px;
}

.push {
    height: 50%;
}

.wrapper {
    height: 100%;
}

#wug {
    background-image: url('../img/wug.jpg');
    border-radius: 25px;
    border: 3px solid #333;
    background-size: cover;
    background-color: #fff;
    margin: 10px auto 0;
    width: 50px;
    height: 50px;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: zoom;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: fadeIn;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: zoom;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
}
@keyFrames fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

