body, html {
    color: #444;
    background-color: #f7819f;
    height: 100%;
}

#main-content {
    height: 300px;
    max-width: 70%;
    max-height: 400px;
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
}

#main-text {
    height: 100%;
}

#main-text > .well {
    height: 100%;
}

#picture {
    border: 1px solid #666;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
}

.push {
    height: 100px;
}

.wrapper {
    height: 100%;
}
